<div class="page-sidebar">
    <a class="logo-box" href="index.html">
        <span>微博智能评论系统</span>
        <i class="icon-radio_button_unchecked" id="fixed-sidebar-toggle-button"></i>
        <i class="icon-close" id="sidebar-toggle-button-close"></i>
    </a>
    <div class="page-sidebar-inner">
        <div class="page-sidebar-menu">
            <ul class="accordion-menu">
                <li class="active-page">
                    <a href="index.html">
                        <i class="menu-icon icon-home4"></i><span>控制台</span>
                    </a>
                </li>
                <li>
                    <a href="javascript:void(0)">
                        <i class="menu-icon icon-flash_on"></i><span>爬取微博</span><i class="accordion-icon fa fa-angle-left"></i>
                    </a>
                    <ul class="sub-menu">
                        <li><a href="paaotu.html">自动爬取热度</a></li>
                        <li><a href="ui-buttons.html">关键词爬取</a></li>
                        <li><a href="ui-buttons.html">用户微博爬取</a></li>
                        <li><a href="ui-buttons.html">通过微博id爬取</a></li>
                    </ul>
                </li>
                <li>
                    <a href="javascript:void(0)">
                        <i class="menu-icon icon-layers"></i><span>评论系统</span><i class="accordion-icon fa fa-angle-left"></i>
                    </a>
                    <ul class="sub-menu">
                        <li><a href="layout-blank.html">关键词自动评论</a></li>
                        <li><a href="layout-boxed.html">情感评论</a></li>
                        <li><a href="layout-collapsed-sidebar.html">随机评论</a></li>

                    </ul>
                </li>
                <li>
                    <a href="javascript:void(0)">
                        <i class="menu-icon icon-code"></i><span>点赞系统</span><i class="accordion-icon fa fa-angle-left"></i>
                    </a>
                    <ul class="sub-menu">
                        <li><a href="form-elements.html">多选点赞</a></li>
                        <li><a href="form-elements.html">自动点赞</a></li>
                    </ul>
                </li>
                <li>
                    <a href="javascript:void(0)">
                        <i class="menu-icon icon-format_list_bulleted"></i><span>转发系统</span><i class="accordion-icon fa fa-angle-left"></i>
                    </a>
                    <ul class="sub-menu">
                        <li><a href="table-static.html">多选转发</a></li>
                        <li><a href="table-static.html">自动转发</a></li>
                    </ul>
                </li>
                <li>
                    <a href="charts.html">
                        <i class="menu-icon icon-show_chart"></i><span>Charts</span>
                    </a>
                </li>
                <li>
                    <a href="javascript:void(0)">
                        <i class="menu-icon icon-my_location"></i><span>Maps</span><i class="accordion-icon fa fa-angle-left"></i>
                    </a>
                    <ul class="sub-menu">
                        <li><a href="maps-google.html">Google</a></li>
                        <li><a href="maps-vector.html">Vector</a></li>
                    </ul>
                </li>
                <li>
                    <a href="javascript:void(0)">
                        <i class="menu-icon icon-star"></i><span>页面</span><i class="accordion-icon fa fa-angle-left"></i>
                    </a>
                    <ul class="sub-menu">
                        <li><a href="invoice.html">Invoice</a></li>
                        <li><a href="404.html">404</a></li>
                        <li><a href="500.html">500 Page</a></li>
                        <li><a href="profile.html">Profile</a></li>
                        <li><a href="login.html">登陆</a></li>
                        <li><a href="register.html">注册</a></li>
                        <li><a href="lockscreen.html">锁定用户</a></li>
                        <li><a href="todo.html">Todo</a></li>
                        <li><a href="gallery.html">Gallery</a></li>
                        <li><a href="pricing-tables.html">Pricing Tables</a></li>
                        <li><a href="timeline.html">Timeline</a></li>
                    </ul>
                </li>
                <li class="menu-divider"></li>
                <li>
                    <a href="index.html">
                        <i class="menu-icon icon-help_outline"></i><span>Documentation</span>
                    </a>
                </li>
                <li>
                    <a href="index.html">
                        <i class="menu-icon icon-public"></i><span>Changelog</span><span class="label label-danger">1.0</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div><!-- /Page Sidebar -->